.form-container {
  
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-title {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-block {
    width: 20%;
}

.salarytable {
    border-collapse: collapse;
    width: 100%;
}


.salarytable td {
    border: 1px solid rgba(0, 0, 0, 0.375);
    padding: 10px;
    text-align: left;
    background-color: white;
}

